.char-details {
	background-color: rgba(255, 255, 255, 0.294);
	padding: 25px 25px 15px 25px;
	margin-bottom: 40px;
}

.char-details h4 {
	color: rgb(192, 235, 143);
	margin-bottom: 20px;
	text-align: center;
}

.select-error {
	color: rgba(255, 255, 255, 0.338);
	text-align: center;
	font-size: 26px;
}
.select-error {
	color: yellowgreen;
}
