.item-list .list-group-item {
	cursor: pointer;
	transition: all 0.3s ease 0s;
	font-size: 20px;
	font-weight: 700;
	border: none;
	border-bottom: 1px solid rgb(220, 209, 209);
	display: flex;
	justify-content: space-between;
}
.item-list .list-group-item:hover {
	background-color: rgba(70, 150, 219, 0.375);
}
